<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Engine</h1>
    <p>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </p>
    <form method="post" action="/upload" enctype="multipart/form-data">
    <dl>
        <p>
            <input type="file" name="files[]" multiple="true" autocomplete="off" required>
            <input type="submit" value="Upload">
        </p>
    </dl>     
    </form>
    <div class="search_box">
        <form action="" method="POST">
            <input type="text" name="search">
            <input type="submit">
        </form>
    </div>
</body>
</html>